<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{activity-title}}</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href="css/main.css" rel="stylesheet">
<link href="carousel.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style>
.ribbon-container {
    z-index: 100000;
    position: relative;
    display: inline-block;
    line-height: 1;
}
 
.ribbon {
    position: fixed;
    bottom: 1em;
    left: 0;
    margin-right: 1em;
    padding: .75em 1.25em .75em .75em;
    border-radius: 0 .5em .5em 0;
    background-color: #39f;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%);
    box-shadow: inset 0 .062em 0 rgba(255,255,255,.6), 0 .125em .25em rgba(0,0,0,.2);
    color: #fff;
    text-shadow: 0 -.062em 0 rgba(0,0,0,.2);
    white-space: nowrap;
    transition: background-color .2s ease-in-out;
}
 
.ribbon:before,
.ribbon:after {
    position: absolute;
    background-color: inherit;
    content: "";
}
 
.ribbon:before {
    bottom: 0;
    left: -.5em;
    width: .5em;
    height: 3em;
    border-radius: 0 0 0 .5em;
    background-image: linear-gradient(to right, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%);
}
 
.ribbon:after {
    top: -1em;
    left: -.5em;
    width: .5em;
    height: 1em;
    border-radius: .5em 0 0 .5em;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%);
    box-shadow: 0 .062em 0 rgba(255,255,255,.6);
}
 
.ribbon-container:hover .ribbon {
    background-color: #7acc29;
}
</style>
</head>
<body>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
    	<!-- Indicators -->
     	<ol class="carousel-indicators">
        	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        	<li data-target="#myCarousel" data-slide-to="1"></li>
        	<li data-target="#myCarousel" data-slide-to="2"></li>
      	</ol>
      	<div class="carousel-inner" role="listbox">
        	<div class="item active">
          		<img class="first-slide" src={{slide01.img}} alt="First slide">
          		<div class="container">
            		<div class="carousel-caption">
              			<h1>{{slide01.headline}}</h1>
              			<p>{{slide01.note}}</p>
            		</div>
          		</div>
        	</div>
        	<div class="item">
          		<img class="second-slide" src={{slide02.img}} alt="Second slide">
          		<div class="container">
            		<div class="carousel-caption">
              			<h1>{{slide02.headline}}</h1>
              			<p>{{slide02.note}}</p>
            		</div>
          		</div>
        	</div>
        	<div class="item">
          		<img class="third-slide" src={{slide03.img}} alt="Third slide">
          		<div class="container">
            		<div class="carousel-caption">
              			<h1>{{slide03.headline}}</h1>
              			<p>{{slide03.note}}</p>
            		</div>
          		</div>
        	</div>
      	</div>
      	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        	<span class="sr-only">Previous</span>
      	</a>
      	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        	<span class="sr-only">Next</span>
      	</a>
    </div><!-- /.carousel -->

    <div class="container marketing">
    	{{#each activity-description-text}}
    	<div class="description-text">
    		<h2>{{this.subject}}</h2>
    		<p class="lead">{{this.detail}}<p>
    		<hr>
    	</div>
    	{{/each}}

    	{{#each activity-description-point}}
    	<div class="description-point">
    		<h2>{{this.subject}}</h2>
    		<ul class="lead">
    			{{#each this.point}}
    			<li>{{this.point-detail}}</li>
    			{{/each}}
    		</ul>
    		<hr>
    	</div>
    	{{/each}}

    	{{#each activity-description-point-link}}
    	<div class="description-point-link">
    		<h2>{{this.subject}}</h2>
    		<ul class="lead">
    			{{#each this.point}}
    			<li><a href={{this.point-link}}>{{this.point-detail}}</a></li>
    			{{/each}}
    		</ul>
    		<hr>
    	</div>
    	{{/each}}

    	<div class="map">
    		<h2>地圖</h2>
        	<iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src=http://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q={{map.longtitude}},{{map.latitude}}&z=16&output=embed&t=></iframe>
    	</div>
        <a href="//canner.io" class="ribbon-container" target="_blank">
            <span class="ribbon">powered by Canner</span>
        </a>
    </div>
</body>
</html>